<%= render "shared/header" %>
<div class='main'>

  <%# メニューバー %>
  <div class="side-bar-header">
    <ul class="ddmenu">
      <li><a href="#">メニュー</a>
        <ul>
          <li><a href="#">リンク</a></li>
          <li><a href="#">リンク</a></li>
          <li><a href="#">リンク</a></li>
          <li><a href="#">リンク</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <%# /メニューバー %>

  <%# 投稿一覧 %>
  <div class="main-post">
    <% @posts.each do |post| %>
      <p><%= post.title %></p>
      <span class="name">
        <%= post.text %>
      </span>
    <% end %>
  </div>
  <%# /投稿一覧 %>
